body {
    font: 400 15px 'Oxygen', 'Hind', sans-serif;
    background-color: #a6a6a6;
    line-height: 1.8;
    color: #3e3e3e;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    background-color: #e0e0d1;
    /*background: linear-gradient(to bottom, #e0e0d1, yellow);*/
}
:focus {
    outline: none;
}


/*header navbar*/

.navbar {
    width: 90%;
    margin-bottom: 0;
    background-color: #475969;
    z-index: 9999;
    border: 0;
    font-size: 1.2em;
    letter-spacing: 1pt;
}
.navbar-fixed-width {
    margin-left: auto;
    margin-right: auto;
}
    .logoName {
        font-family: 'Gloria Hallelujah', cursive;
        letter-spacing: 2pt;
        color: #fff;
    }
    .navbar-header {
        padding-top: 6px;
    }
    #myNavbar>.navbarMenu>li>a {
        color: #fff;
    }
    #myNavbar>.navbarMenu>li>a:hover, #myNavbar>.navbarMenu>li.active>a {
        color: #475969;
        background-color: #FFFFCA;
    }


/*home*/

#home.theme {
    margin-top: 50px;
    width: auto;  
    padding-bottom: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow:0px 0px 50px 20px #a6a6a6 inset;
    background-image:url(../img/theme.png);
}


/*oferta*/

#oferta {
    width: 100%;
    padding: 3% 5%;
}


/*oferta*/
/*aside*/

aside {
    text-align: center;
}
    aside span {
        font-weight: bold;
        font-size: 1.2em;
    }
    aside form p #searchCar {
        padding: 3px 10px;
        border-radius: 5px;
        border: 1px solid #475969;  
        letter-spacing: 1pt; 
        font-weight: bold;
    }
    aside form input[type="button"], aside form input[type="reset"] {
        padding: 3px 10px;
        border-radius: 5px;
        border: 1px solid #475969;
        margin: 10px;
        margin-left: 0;
        box-shadow: 0px 0px 10px 3px #a6a6a6;
        letter-spacing: 1pt;
        font-size: 1.1em;
        font-weight: bold;
        cursor: pointer;
    }


/*oferta*/
/*section*/

.car {
    border: 1px solid #475969;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px #a6a6a6 inset;
    margin: 5px auto;
    background-color: #FFFFCA; 
    position: relative;
    height: 390px;
    max-width:300px;
    text-align: center;
    padding: 10px;
}
    .car h4 {
        font-weight: bold;
    }
    .car .btnInfo {
        padding: 3px 10px;
        border-radius: 5px;
        border: 1px solid #475969;
        box-shadow: 0px 0px 10px 3px #a6a6a6;
    }
    .car p .days {
        padding: 3px 10px;
        border-radius: 5px;
        border: 1px solid #475969;
    }
    .moreInfo {
        display: none;
        cursor: pointer;
        margin: 0 auto;
        max-width: 138px;
    }
    .deal {
        color: red;
        font-weight: bold;
        font-size: 1.3em;
        opacity: 0;
        position: absolute;
        top: 0px;
        right: -20px;
        -moz-transform: rotate(20deg);
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }


/*zaufali nam*/

#zaufali {
    background-color: #e0e0d1;
    box-shadow: 0px 0px 50px 20px #a6a6a6 inset;
    padding-top: 50px;
    padding-bottom: 70px;
}
    #owl-demo .item {
        text-align: center;
    }
        #zaufali p {
            background-color: #FFFFCA;
            width: 80%;
            padding: 15px 10px;
            margin: 0 auto;
            border: 1px solid #475969;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 3px #a6a6a6;
            margin-bottom: 10px;
        }
        #owl-demo .item img {
            display: block;
            margin: 0 auto;
            width: 40%;
        }


/*regulamin*/

#regulamin {
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
}
    #regulamin .rulesTitle span {
        font-weight: 600;
        font-family: 'Gloria Hallelujah', cursive;
        letter-spacing: 2pt;
    }
    .btnShow, .btnDownload {
        padding: 3px 10px;
        border-radius: 5px;
        border: 1px solid #475969;
        margin-top: 10px;
        margin-bottom: 10px;
        box-shadow: 0px 0px 10px 3px #a6a6a6;
        cursor: pointer;
    }
    .regulamin {
        display: none;
    }
        .regulamin a {
            color: #3e3e3e;
        }
        .regulamin ol {
            list-style-type: decimal;
            margin-left: 50px;
        }


/*kontakt*/

#kontakt {
    margin-top: 20px;
    margin-bottom: 15px;
}
    .dane_kont {
        margin-left: 5%;
    }
        .dane_kont > span {
            font-weight: 600;
            font-family: 'Gloria Hallelujah', cursive;
            letter-spacing: 2pt;
        }
#googleMap {
    border: 1px solid #475969;
    height: 340px;
    width: 90%;
    padding: 5%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px 3px #a6a6a6;
}
.messageForm {
    padding:0 5%;
}
    fieldset {
        border: 1px solid #475969;
        box-shadow: 0px 0px 10px 3px #a6a6a6;
        padding: 1.4em;
    }
        fieldset p {
            font-size: 1.1em;
            font-weight: 600;
        }
        fieldset .btn {
            margin-top: 10px;
        }


/*footer*/

footer {
    background-color: #475969;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
    .copyright {
        text-align: right;
        padding-right: 30px;
    }
    .returnTop {
        text-align: center;
    }
        .returnTop span {
            font-size: 1.5em;
            color: #fff;
        }
        

/**/

@media only screen and (max-width:1023px) {
    .container, .wrapper, .navbar {
        width: 100%;
    }
    .copyright {
        text-align: center;
    }
}


/*navbar collapse for screen width lower than 991px*/
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}